@import 'compass/css3';
@import "compass/utilities/general/clearfix";

/*
  Main detail panel container.
*/
#detailPanel {
  padding: 7px 11px 4px 15px;
  background: no-repeat;
  background-size: 100%;
  
  @include bg-image('ProductDetail-background');
  
  /* Favorite stamp. */
  .favorite-flag {
    .description-inner-wrapper {
      background: left top no-repeat;

      @include bg-image('ProductDetail-favorite-stamp');
    }
    
    #detailPanelHeart {
      background-position: left center !important;
    }
  }
  
  /* Wrapper for product title and buy button. */
  .description-inner-wrapper {
    overflow: hidden;
    
    /*
      When an item is in the cart, mark the button as active.
    */
    &.cart-flag .price {
      @include bg-image('ProductDetail-cart-button-active');
    }
    
    &.cart-flag .quantity {
      display:none;
    }
    
    &.cart-flag .cart-confirmation {
      display: block;
    }
  }
}

/* Photo carousel. */
#detailPanelCarousel {
  overflow: hidden;
  
  .x-carousel {
    overflow: hidden;
  }
  
  .x-carousel-item {      
    .image {
      width: 768px;
      height: 552px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  .detail-panel-image {
    background-position: center center;
  	background-repeat: no-repeat;
  	background-size: contain;

  	.fullsize & {
  	  background-size: contain;
  	}
  }
}
    
/* Vertical divider line in the title bar. */
#detailPanelSpacer {
  background: left top no-repeat;
  background-size: 100%;
  
  @include bg-image('ProductDetail-vertical-divider');
}

/*
  Detail panel title bar.
  
  Contains the title, sharing tools and price information.
*/
#detailPanelInfo {
  background: left bottom no-repeat;
  background-size: 100% auto;
  
  @include bg-image('ProductDetail-title-bar-shadow');
  
  .left-wrapper {
    padding-right: 20px;
  }
}

/* Containing element for product details. */
#detailPanelMainInfo {
  background: $tan;
  
  .x-inner {
    width: 100%;
  }
  
  /* Wrapper for detail elements. */
  .description-inner-wrapper {
    padding: 13px 18px 14px 18px;
    
    @include bs;
  }
  
  .name {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 400;
    color: black;
    text-shadow: 1px 1px white;
    
    @include ellipses(100%);
  }
  
  .price {
    float: left;
    height: 27px;
    padding: 0 41px 0 7px;
    color: $green;
    background: top right no-repeat $tan;
    background-size: auto 100%;
    border: 1px solid #DADAD6;
    
    @include transition(all .2s ease-out);
    @include box-shadow(0 0 10px 0 rgba(black, .1));
    @include border-radius(3px);
    @include bg-image('ProductDetail-cart-button-link');
    
    &.sold {
      background-image: url("../images/slices-v2/Product-sold-1x.png");
      background-size: auto;
      text-indent: 10000em;
      width: 63px;
      background-position: center center;
    }
    
    &:hover {
      cursor: pointer;
    }
    
    &:active {
      color: $tan;
      background-color: $green;
      
      @include box-shadow(0 0 10px 2px rgba(black, .3));
    }
  }

  .cart-confirmation,
  .quantity {
    float: left;
    margin: 0 0 0 18px;
    color: $midgray;
    font-size: 12px;
    line-height: 27px; // Same as .price height.
  }
  
  .cart-confirmation {
    display: none;
  }
  
  /*
    Sharing tools.
  */
  .x-button {
    width: 32px;
    height: 90px;
    margin: 0 10px;
    padding: 0;
    background: left center no-repeat transparent;
    background-size: auto 100%;
    
    &.x-button-pressing {
      background-position: right center;
    }
    
    /* Favorite button. */
    &#detailPanelHeart {
      @include bg-image('ProductDetail-favorite-button-sprite');
      
      background-position: right center;
      
      &.active {
        background-position: right center;
      }
      
      &.x-button-pressing {
        background-position: center center;
      }
    }
    
    /* Email sharing. */      
    &#detailPanelEmail {
      @include bg-image('ProductDetail-email-button-sprite');
    }
    
    /* Facebook sharing. */  
    &#detailPanelFacebook {
      @include bg-image('ProductDetail-facebook-button-sprite');
    }
    
    /* Twitter sharing. */
    &#detailPanelTwitter {
      @include bg-image('ProductDetail-twitter-button-sprite');
    }
  }

  #detailPanelSpacer {
    margin: 0 10px;
  }
}

/*
  Green tag- More info button. 
  
  Chained selector for higher specificity.
*/
#detailPanelInfoButton.x-button { 
  background: no-repeat;
  border-radius: 0;

  @include bg-image('ProductDetail-info-tab-link');
  
  &.x-button-pressing {
    background: no-repeat;
    
    @include bg-image('ProductDetail-info-tab-active');
  }
  
  &.active {
    @include bg-image('ProductDetail-close-tab-link');
    
    &.x-button-pressing {
      background: no-repeat;
      @include bg-image('ProductDetail-close-tab-active');
    }
  }
}

/*
  Extra info panel for an item.
  Hidden by default.
*/
#detailPanelMoreInfo {
  padding: 20px 10px 20px 20px;
  background: left top no-repeat $tan;
  background-size: 100%;
  
  @include bg-image('ProductDetail-long-divider');
  
  .seller {
    margin-bottom: 20px;
    padding: 0 0 20px 0;
    background: left bottom no-repeat;
    background-size: 100%;
    
    @include bg-image('ProductDetail-seller-divider');
  }
  
  .seller,
  .shipping {
    font-size: 12px;
    color: darken($gray, 5%);
    
    .table-header {
      @include pie-clearfix;
      
      div {
        float: left;
        width: 33.333%;
      }
      
      span {
        @include inline-block;
        
        padding: 5px;
        color: darken($gray, 5%);
        background: $lightgray;
        border: 1px solid darken($lightgray, 5%);
        
        @include bs;
        @include border-radius(5px);
      }
    }
    
    .table-content {
      li {
        @include pie-clearfix;
        
        margin: 5px 0;
        font-weight: 700;
      }
      
      div {
        @include inline-block;
        
        float: left;
        width: 33.333%;
      }
    }
  }
  
  /*
    Container for description text.
  */
  .x-scroll-scroller {
    width: 100%;
  }
  
  .text {
    padding: 0 20px 30px 0;
    font-size: 14px;
    color: black;
    line-height: 18px;
    word-break: break-word;
  }
}