// =====================
// = Left Arrow Toggle =
// =====================

#appPanel .leftArrow {
  background: url('../images/v1-0-0/left_arrow_off.png') no-repeat left center;
  background-size: contain;
  border-radius: 0;
  
  &.x-button-pressing {
      background-image: url('../images/v1-0-0/left_arrow_on.png');
  }
}

// ======================
// = Right Arrow Toggle =
// ======================

#appPanel .rightArrow {
  background: url('../images/v1-0-0/right_arrow_off.png') no-repeat left center;
  background-size: contain;
  border-radius: 0;
  
  &.loading {
    background: url('../images/v1-0-0/right_arrow_loading.png') no-repeat left center;
    
    span {
      background: url(../images/v1-0-0/right_arrow_loading_ajax.gif) no-repeat;
      background-position: 7px 328px;
    }
  }
  
  &.x-button-pressing {
      background-image: url('../images/v1-0-0/right_arrow_on.png');
  }
}


h1 {
  padding: 91px 200px 0;
  font-size: 28px;
  text-align: center;
}

p.desc {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.no-favorites-messaging {
  background: url(../images/v1-0-0/Favorites-no-items-2x.png) no-repeat 0 0;
  background-size: contain;
  width: 430px;
  height: 430px;
  margin: 0 auto;
}

.no-search-results-messaging {
  background: url(../images/v1-0-0/Results-no-items-2x.png) no-repeat 0 0;
  background-size: contain;
  width: 430px;
  height: 430px;
  margin: 0 auto;
}

#categoriesPanel {
  
  .favorites .x-title .x-innerhtml {
    background: none;
  }
  
  .x-title .x-innerhtml {
    background: url(../images/v1-0-0/HeaderBar-bookmark-ribbon-off-2x.png) no-repeat top right;
    padding: 0 55px;
    height: 62px;
    background-size: contain;
  }
  .bookmarked .x-innerhtml {
    background: url(../images/v1-0-0/HeaderBar-bookmark-ribbon-on-2x.png) no-repeat top right;
  }
  
}

.products {    
  .x-innerhtml {
  padding: 45px 0 0 72px;

    // not show the 13th item, Sencha bug
    div:nth-of-type(13) {
      display: none;
    }
  }

  .favorite-stamp {
      position: absolute;
      bottom: 1px;
      right: 1px;
      width: 77px;
      height: 57px;
      background-size: contain;
      z-index: 1000;
      padding-left: 20px;
      background-position: bottom right;
      background-repeat: no-repeat;
  }
    
  .favorite-flag  .favorite-stamp {
      background-image: url(../images/v1-0-0/heart_stamp_x2.png);
  }
    
  .cart-flag .cart-stamp {
    position: absolute;
    top: -4px;
    right: -9px;
    width: 50px;
    height: 26px;
    background: red;
    z-index: 10000;
    background: url(../images/v1-0-0/cart_stamp_x2.png) no-repeat 0 0;
    background-size: contain;
  }

  .product {
//    background: white;
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 179px;
    width: 182px;
    padding: 0;
    margin: 0 50px 38px 0;
    padding: 6px;
    background: no-repeat;
    background-size: 100%;
    background-position: center center;

    @include bg-image('Product-container');

    &.product-pressed-flag .name {
      color: #D24700;
    }
    
    .image {
			height: 135px;
			width: 170px;
		}

    .name {
      margin-top: 6px;
      height: 27px;
      padding-left: 2px;
      width: 114px;
      display: block;
      color: #666;
      font-size: 11px;
      overflow: hidden;
		}
      
    .price {
      position: absolute;
      right: 7px;
      bottom: 7px;
      width: 46px;
    }
  }
}    

.product-bounce {
  -webkit-transition-property: all;
  -webkit-animation: product-bounce 1s 1;
}

@-webkit-keyframes product-bounce {
  0% {
    -webkit-transform: rotate(0) translate3d(0, 30px, 0);
  }
  
	25% {
	  -webkit-transform: rotate(4deg) translate3d(0, -10px, 0);
	}
	
	50% {
    -webkit-transform: rotate(-2deg) translate3d(0, 5px, 0);
	}
	
	100% {
	  -webkit-transform: rotate(0) translate3d(0, 0px, 0);
	}
}

.quick-bounce {
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.5);
  -webkit-transform: translate3d(0, 0, 0);
}