#homePanel {
  background: #f2f3db url(../images/home_panel_background.png) repeat-x left bottom !important;
    
  .treasury-item-wrapper div.x-innerhtml>div:nth-of-type(5){
    display: none
  }

  .browse-categories,
  .hottest-treasuries {
    background: url(../images/slices-v2/GeneralApp-white-title-bar-1x.png) no-repeat center 7px !important;
    height: 67px;
    line-height: 67px;
    font-weight: normal;
  
  }
  
  .x-button-pressing   .browse-categories,
  .x-button-pressing   .hottest-treasuries {
    background: url(../images/slices-v2/GeneralApp-active-title-bar-1x.png?1) no-repeat center 1px !important;
  }

  .x-field { 
    background: none;
  }
  
  #homeSearch{
    padding: 27px 315px 9px;

    .x-field-search .x-field-input .x-form-field {
      margin-left: 40px;
    }
      
    .x-component-outer {
      border: 5px solid #E1DFCC;
      border-radius: 34px;
      background: #EAE8D5;
      margin: 0;

      .x-input-search {
        padding: 8px 14px;
        font-size: 20px;
        height: auto;
        margin-left: 45px;
      }
      
      .x-field-input::before {
    		content: "";
    		position: absolute;
    		width: 30px;
    		height: 30px;
    		top: 9px;
    		left: 16px;
    		-webkit-mask-size: 30px;
    		background-color: #CCC;
    		-webkit-mask-repeat: no-repeat;
    		margin-top: 0;
    	}
    }
  }

  h4 {
      font-size: 20px;
      text-align: center;
      padding: 30px 0 10px;
  }

}