#navPanel {
    background: url(../images/left_rail_background.png) no-repeat 0 0;
    background-size: contain;
    padding-top: 101px;
}

#searchPanel {
    background: url(../images/right_rail_background.png) no-repeat 0 0;
    background-size: contain;
    
    .x-layout-card-item {
        background: none;
    }
}

#detailPanel {
    background: url(../images/detail_modal_background_x2.png) no-repeat 0 0;
    background-size: contain;
    padding: 7px;
}

/* ================== */
/* = Treasury Items = */
/* ================== */

#treasuriesCarousel {
    .treasury-item {
        height: 166px;
        display: inline-block;
        position: relative;
        width: 472px;
        margin: 40px 10px 20px 30px;
        padding-left: 280px;
        vertical-align: top;
        color: #3f3f3f;
        

        .image-wrapper {
            border: 1px solid #ccc;
            border-radius: 3px;                
            background-color: white;
            padding: 3px;
            position: absolute;
            top: 10px;
            left: 0;
            
            &.image-1 {
                -webkit-transform: rotate(-5deg);
            }
    
    
            &.image-2 {
                left: 16px;
                top: 12px;
                -webkit-transform: rotate(-1deg);
            }
    
            &.image-3 {
                left: 38px;
                top: 15px;
            }
    
            &.image-4 {
                left: 61px;
                -webkit-transform: rotate(2deg);
                top: 14px;
            }
            
            
            .image {
                width: 170px;
                height: 135px;
                background-position: center center;
                background-repeat: no-repeat;




                -webkit-background-clip:padding-box; /* IOS fix */
                background-clip:padding-box; /* IOS fix */
        

            }
        }
        
        .title {
            font-size: 23px;
            font-family: georgia;
            margin-bottom: 4px;
            height: 54px;
            overflow: hidden;
            
        }
        
        .user {
            font-size: 13px;
            padding: 10px 0;
            span {
                color: #ccc;
            }
            
        }
    }  
}






#appPanel {
    background: url(../images/background.png) repeat 0 0;
    -webkit-transition: -webkit-transform 350ms;
    -webkit-transform: translate3d(0, 0, 0);
}

/*.x-carousel .x-mask.x-floating {
    background: rgba(0,0,0,0.1);
}*/






.x-field-search .x-field-input .x-form-field {
	font-family: helvetica;
    font-size: 13px;
    height: 29px;
	padding-left: 15px;
} 
	
.homepage-button {
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 200px; 
	margin: 20px;
}

#closeFullBrowserButton .x-button-icon.x-icon-mask {
    background: #fff;
}

#browserSearchPanel {
    -webkit-transition: -webkit-transform 350ms;
    -webkit-transform: translate3d(0,-47px,0);
}
    

    

.large-listings {
    background: #000;
    
    .large-product {
         height: 748px;
			width: 1024px;
			
			.image {
                height: 748px;
        			width: 1024px;
        			background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;	
            }	
    }
}

.products {


    .x-innerhtml {
/*        display: table;
        table-layout: fixed;*/
/*        width: 100%;
        height: 100%;*/
padding: 10px;
overflow: hidden;
/*        border: 1px solid #ccc;
        border-width: 0 1px 1px 0;*/

        .x-phone & {
            border-right: 0;
            border-bottom: 0;
        }
    }

    .row {
	padding: 13px 20px 0;
/*        display: table-row;*/

        > * {
/*            display: table-cell;*/
        }

        &:last-child .product {
/*            border-bottom: 0;*/
        }
    }
    
.x-dataview-item {
    display: inline-block;
	vertical-align: top;
}

    .favorite-flag .favorite-stamp {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 57px;
		height: 57px;
		background: url(../images/heart_stamp_x2.png);
		background-size: contain;
		z-index: 1000;
    }
    
    .cart-flag .cart-stamp {
        position: absolute;
		top: -4px;
		right: -9px;
        width: 50px;
        height: 26px;
        background: red;
        z-index: 10000;
        background: url(../images/cart_stamp_x2.png) no-repeat 0 0;
        background-size: contain;

    }

    .product {
        /*        background: url(../images/polaroid_background.png) no-repeat center bottom;*/
        background: white;
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 178px;
        width: 182px;
        padding: 0;
        margin: 15px 29px;
        padding: 5px;
		border: 1px solid #EAE9E1;
        /*-moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 2px #888;*/
/*        border-radius: 4px;*/
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
        
        &.category{
            margin: 35px;
			float: none;
        }

 

		.image-wrapper {
			height: 135px;
			width: 170px;
			background-color: black;
            background-repeat: no-repeat;
            background-position: 0 0;
			overflow: hidden;
			position: relative;
			
			.image {
				position: relative;
				z-index: 10;
				height: 135px;
				width: 170px;
				background-color: black;
	            background-repeat: no-repeat;
	            background-position: 0 0;

			    -webkit-transition: -webkit-transform 250ms;
			    -webkit-transform: translate3d(0, 0, 0);
	        }
	
			.actions {
				bottom: 0px;
				left: 0px;
				height: 80px;
				width: 170px;
				position: absolute;
				z-index: 1;
				font-size: 10px;
				background: url(../images/share_background.png) no-repeat 0 0 ;
				background-size: contain;

				div {
					text-indent: -10000em;
					float: left;
					width: 50%;
					text-align: center;
					height: 100%;
				}
			}
		}


		

        img {

        }
        
        .category-name {
            padding: 60px 20px;
            text-align: center;
        }

        .name {
			margin-top: 4px;
			height: 29px;
			padding-left: 2px;
			width: 114px;
			display: block;
			color: #666;
			font-size: 11px;
			overflow: hidden;
			
        }

        .price {
			font-size: 19px;
			position: absolute;
			right: 5px;
			bottom: 5px;
			color: #78C042;
			line-height: 14px;
			text-align: right;
			width: 52px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			border: 1px solid #DADAD6;
			padding: 5px 5px 4px;
			border-radius: 3px;
			background: rgba(203, 203, 197, 0.1);
			font-family: serif;
			font-weight: bold;
			
        }
    }
    


/*    .landscape .product {
        width: 25%;

        .image {
            margin-top: 36px;
        }
    }

    .portrait .product {
        width: 33%;

        .image {
            margin-top: 18px;
        }
    }*/
}

.product-view {
    
        .x-body {
            overflow: visible;
        }
        
        .x-docking-horizontal {
            overflow: hidden;
        }
	
    	.description {
            background: url(../images/detail_modal_info.png) no-repeat 0 0;
            border: none;
            padding-left: 50px;
            background-size: contain;
            -webkit-transition: -webkit-transform 350ms;
            -webkit-transform: translate3d(290px, 0, 0);
            
            .description-inner-wrapper {
                padding: 0 15px;
            }
		}
		
        .name {
            line-height: 37px;
            font-size: 20px;
            font-weight: normal;
            color: #333;
            padding-top: 15px;
            font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
            height: 52px;
            overflow: hidden;
            margin-bottom: 23px;
        }

        .price {
            float: left;
            width: 68px;
            text-align: right;
            color: green;
            font-family: serif;
        }
        
        .text {
            font-size:14px;
            color: #aaa;
            line-height: 18px;
            padding-bottom: 30px;
        }
        
        .quantity {
            float: left;
            margin-left: 26px;
            font-size: 12px;
            margin-top: 5px;
            color: #666;
            margin-bottom: 39px;
        }
        
        .shipping,
        .seller {
            clear: both;
            font-size: 12px;
            height: 77px;
            color: #666;
        }

        img {
/*            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;*/
			padding: 3px;
			border: 1px solid #EAEAEA;
			display: block;
			margin: 0 auto;
        }

		.x-button-plain {

		}

}

.product-view,
.products {
    a:link,
    a:active,
    a:visited {
        display: block;
        border: 1px solid darken(#028257, 10);
        margin: 30px 60px;
        text-align: center;
        padding: 10px;
        font-size: 22px;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        text-decoration: none;
    }
}

.products a {
    margin-top: 0;
}

#detailPanelCarousel {
    background: #fff;
    
    &.fullsize {
        background: #000;
        
    }
    



    .x-carousel-item {
        background: url(../images/loading.gif) no-repeat center center;
        background-size: 10%;
    }
}
.detail-panel-image {
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	
	.fullsize & {
	    background-size: contain;
	}
}
