#appPanel {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 350ms;
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,.3);
	
	.x-layout-card-item {
/*      background: url(../images/background_x2.png) repeat 0 0;*/
background: #f4f2dd;
/*background: #fff;*/
	}
	
}

#homePanel {

    .treasury-item-wrapper div>div:nth-of-type(3){
        display: none
    }
    
    .x-button-plain {
        padding: 0;
    }
    
    #homePanelLeft {
    background: url(../images/home_panel_background.png) repeat-x left bottom !important;
    
    .browse-categories {
        background: url(../images/browse_categories_button_1x.png) no-repeat center top !important;
        height: 52px;
    }
    
    .hottest-treasuries {
        background: url(../images/hottest_treasuries_button_1x.png) no-repeat center bottom !important;
        height: 73px;

    }
        
        .x-field { 
            background: none;
        }
        
        #homeSearch{
            padding: 27px 315px;
			
			.x-field-search .x-field-input .x-form-field {
			margin-left: 40px;
			}
            

            .x-component-outer {
                border: 5px solid #E1DFCC;

                border-radius: 34px;
                background: #EAE8D5;

                margin: 0; 
                
                .x-input-search {
                    padding: 8px 14px;
                    font-size: 20px;
                    height: auto;
                    margin-left: 45px;
                }

				.x-field-input::before {
					content: "";
					position: absolute;
					width: 30px;
					height: 30px;
					top: 9px;
					left: 16px;
					-webkit-mask-size: 30px;
					background-color: #CCC;
					-webkit-mask-repeat: no-repeat;
					margin-top: 0;
				}
            }
        }
        
        h4 {
            font-size: 20px;
            text-align: center;
            padding: 30px 0 10px;
        }
        
        .grey-box {
/*            background: #eae8d5;
            border-top: 2px solid #e7e6d2;
            
            border-bottom: 2px solid #e7e6d2;*/
        }
    }
    
    
    


}

#appPanel {
        -webkit-transition: -webkit-transform 350ms;
}

#navPanel {
/*    background: url(../images/left_rail_background.png) no-repeat 0 0;*/
    background-size: contain;
    background: #46250a;

	#signUpButton {
		height: 90px;
		background: url(../images/login_button.png) no-repeat 0 0;
	}
}

#searchPanel {
    background: url(../images/right_rail_background.png) no-repeat 0 0;
    background-size: contain;
    -webkit-transition: -webkit-transform 350ms;
    
    .x-layout-card-item {
        background: none;
    }
}

#detailPanel {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
    overflow: hidden;
    
    #detailPanelInfo {
        background: #F8F8F2 url(../images/detail-title-bar.png) no-repeat 0 0;
        box-shadow: 0 0 6px 2px rgba(0,0,0,0.3);
        position: relative;
        z-index: 10;
    }
    
    #detailPanelCarousel .x-carousel {
        overflow: hidden;
    }
    
    .x-button {
        height: 70px;
        background: url(../images/final/product-detail-sprite-1x.png) no-repeat 13px 20px;
        
        &.active {
            background-position: -87px 20px;
        }
        
        &.x-button-pressing {
            background-position: -87px 20px;
        }
        
        &#detailPanelCart {
            background-position: 13px -80px;
            
            &.active {
                background-position: -87px -80px;
            }
            
            
            &.x-button-pressing {
                background-position: -87px -80px;
            }
        }
        
        &#detailPanelEmail {
            background-position: 13px -480px;
            
            &.x-button-pressing {
                background-position: -87px -480px;
            }
        }
        
        &#detailPanelFacebook {
            background-position: 13px -280px;
            
            &.x-button-pressing {
                background-position: -87px -280px;
            }
        }
        
        &#detailPanelTwitter {
            background-position: 13px -180px;
            
            &.x-button-pressing {
                background-position: -87px -180px;
            }
        }
        
        
    }
    
    #detailPanelCarousel {
        background: #fff;
        .x-carousel-item {
            background: url(../images/loading.gif) no-repeat center center;
            background-size: 10%;
            
            .image {
                border: 10px solid #fff;
                width: 679px;
                height: 562px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    .detail-panel-image {
    	background-repeat: no-repeat;
    	background-size: contain;
    	background-position: center center;

    	.fullsize & {
    	    background-size: contain;
    	}
    }
}

/*#listingsCarousel .product {
    margin: 10px;
}*/

/* ================== */
/* = Treasury Items = */
/* ================== */


#treasuriesPanel {
    
    #treasuriesCarousel {
        
        .x-innerhtml {
            padding: 24px 0;
        }
    }
}


.treasury-item {
    height: 166px;
    display: inline-block;
    position: relative;
    width: 425px;
    margin: 25px;
    padding-left: 270px;
    vertical-align: top;
    color: #3F3F3F;
    
    &.small-treasury-item {
        width: 200px;
        margin: 54px 0 0 37px;
        padding: 0;
        
        .title {
            font-size: 18px;
            font-family: georgia;
            margin-bottom: 4px;
            height: 54px;
            overflow: hidden;
            position: absolute;
            top: -25px;
            width: 200px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            left: -2px;
        }
        
        .image-wrapper .image {
            width: 125px;
            height: 100px;
        }
    }
    

	.open .image-wrapper .image-1 {
		top: 10px;
        left: 0;
	}
	
	.open .image-wrapper .image-2 {
		left: 16px;
        top: 12px;
        -webkit-transform: rotate(-1deg);
	}
	
	.open .image-wrapper .image-3 {
		left: 38px;
        top: 11px;
	}
	
	.open .image-wrapper .image-4 {
		left: 296px;
		-webkit-transform: rotate(4deg);
		top: 14px;
	}
	
	
    .image-wrapper {
        border: 1px solid #ccc;
        border-radius: 3px;                
        background-color: white;
        padding: 3px;
        position: absolute;
        
        &.image-1 {
            -webkit-transform: rotate(-5deg);
            top: 10px;
            left: 0;
        }

        &.image-2 {
            left: 16px;
            top: 12px;
            -webkit-transform: rotate(-1deg);
        }
			
		.open &.image-2 {
			left: 81px;
			top: 12px;
			-webkit-transform: rotate(-1deg);
		}
		
        &.image-3 {
            left: 38px;
            top: 11px;
        }

		.open &.image-3 {
			left: 185px;
			top: 15px;

		}

        &.image-4 {
            left: 61px;
            -webkit-transform: rotate(2deg);
            top: 14px;
        }

		.open &.image-4 {
			left: 296px;
			-webkit-transform: rotate(4deg);
			top: 14px;
		}
        
        
        .image {
            width: 170px;
            height: 135px;
            background-position: center center;
            background-repeat: no-repeat;




            -webkit-background-clip:padding-box; /* IOS fix */
            background-clip:padding-box; /* IOS fix */
    

        }
    }
    
    .title {
        font-size: 23px;
        font-family: georgia;
        margin-bottom: 4px;
        height: 54px;
        overflow: hidden;
        
    }
    
	.user-avatar {
		width: 35px;
		height: 35px;
		float: left;
		background-size: contain;
		margin-right: 15px;
	}

	.stats {
		clear: both;
		font-size: 11px;
	    padding: 10px 0;
		color: #afafaf;
	}
	
    .user {
		font-size: 11px;
		padding: 10px 0;
        span {
            color: #afafaf;
        }
        
    }

	.visit-treasury-button {
		padding: 5px 10px;
		background: #079BBE;
		border: 1px solid #BCB9A6;
		border-radius: 3px;
		color: #EDEDEB;
		font-size: 13px;
		display: inline-block;
	}
}  










.x-field-search .x-field-input .x-form-field {
	font-family: helvetica;
    font-size: 13px;
    height: 29px;
	padding-left: 15px;
} 
	
.homepage-button {
	background: #fff;
	border: 1px solid #ccc;
	text-align: center;
	line-height: 200px; 
	margin: 20px;
}

#closeFullBrowserButton .x-button-icon.x-icon-mask {
    background: #fff;
}

#browserSearchPanel {
    -webkit-transition: -webkit-transform 350ms;
    -webkit-transform: translate3d(0,-47px,0);
}
    

    

.large-listings {
    background: #000;
    
    .large-product {
         height: 748px;
			width: 1024px;
			
			.image {
                height: 748px;
        			width: 1024px;
        			background-size: contain;
                background-repeat: no-repeat;
                background-position: center center;	
            }	
    }
}

#browserCarousel {
    .x-mask {
          background: rgba(0,0,0,0) center center no-repeat;
    }
}

.products {
    
    .x-innerhtml {
        padding: 24px 0;
    }
    

    
    .x-dataview-item {
        display: inline-block;
    	vertical-align: top;
    }

    .favorite-stamp {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 77px;
        height: 57px;
        background-size: contain;
        z-index: 1000;
        padding-left: 20px;
        background-position: bottom right;
        background-repeat: no-repeat;
		

    }
    
    .favorite-flag  .favorite-stamp {
        background-image: url(../images/heart_stamp_x2.png);
    }
    
    

    .cart-flag .cart-stamp {
        position: absolute;
		top: -4px;
		right: -9px;
        width: 50px;
        height: 26px;
        background: red;
        z-index: 10000;
        background: url(../images/cart_stamp_x2.png) no-repeat 0 0;
        background-size: contain;

    }

    .product {
        background: white;
        position: relative;
        display: inline-block;
        vertical-align: top;
        height: 178px;
        width: 182px;
        padding: 0;
        margin: 20px 27px;
        padding: 5px;
        border: 1px solid #EAE9E1;
        /*-moz-box-shadow: 0 0 5px #888;
        -webkit-box-shadow: 0 0 5px#888;
        box-shadow: 0 0 2px #888;*/
        border-radius: 4px;
		font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
    
        &.category{
            margin: 35px;
			float: none;
        }



		.image-wrapper {
			height: 135px;
			width: 170px;
			background-color: black;
            background-repeat: no-repeat;
            background-position: 0 0;
			overflow: hidden;
			position: relative;
		
			.image {
				position: relative;
				z-index: 10;
				height: 135px;
				width: 170px;
				background-color: black;
	            background-repeat: no-repeat;
	            background-position: 0 0;

			    -webkit-transition: -webkit-transform 250ms;
			    -webkit-transform: translate3d(0, 0, 0);
	        }

			.actions {
				bottom: 0px;
				left: 0px;
				height: 80px;
				width: 170px;
				position: absolute;
				z-index: 1;
				font-size: 10px;
				background: url(../images/share_background.png) no-repeat 0 0 ;
				background-size: contain;

				div {
					text-indent: -10000em;
					float: left;
					width: 50%;
					text-align: center;
					height: 100%;
				}
			}
		}


	

        img {

        }
    
        .category-name {
            padding: 60px 20px;
            text-align: center;
        }

        .name {
			margin-top: 4px;
			height: 29px;
			padding-left: 2px;
			width: 114px;
			display: block;
			color: #666;
			font-size: 11px;
			overflow: hidden;
		
        }
        
        .price {
            position: absolute;
        	right: 5px;
        	bottom: 5px;
        		width: 52px;
        }
    }
}    

.product-bounce {
  -webkit-transition-property: all;
  -webkit-animation: product-bounce 1s 1;
}

@-webkit-keyframes product-bounce {
  0% {
    -webkit-transform: rotate(0) translate3d(0, -30px, 0);
  }
  
	25% {
	  -webkit-transform: rotate(4deg) translate3d(0, 10px, 0);
	}
	
	50% {
    -webkit-transform: rotate(-2deg) translate3d(0, -5px, 0);
	}
	
	100% {
	  -webkit-transform: rotate(0) translate3d(0, 0, 0);
	}
}

.quick-bounce {
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.5);
  -webkit-transform: translate3d(0, 0, 0);
}








#treasuryCarousel .x-innerhtml div:nth-of-type(16) {
	display: none;
}

#treasuryCarousel .product {
	margin: 20px 11px;
}

span.count {
	display: none;
	float: right;
	background: brown;
	font-size: 13px;
	padding: 2px 5px;
	border-radius: 7px;
	
	.signed-in-flag & {
		display: block;
	}
	
}

span.arrow {
	float: right;
	font-size: 13px;
	padding: 2px 5px;
}
.price {
	font-size: 19px;

	color: #78C042;
	line-height: 14px;
	text-align: right;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border: 1px solid #DADAD6;
	padding: 5px 5px 4px;
	border-radius: 3px;
	background: rgba(203, 203, 197, 0.1);
	font-family: serif;
	font-weight: bold;
    
    &.sold {
	    color: red;
	    font-size: 14px;
	}
	
}




.product-view {
    
        .x-body {
            overflow: visible;
        }
        
        .x-docking-horizontal {
            overflow: hidden;
        }
	
    	.description {
            background: url(../images/final/product-detail-popup-seller-panel-background-1x.png) no-repeat 1px 0;
            border: none;
            padding: 20px 20px 20px 65px;
            background-size: initial;
            -webkit-transition: -webkit-transform 350ms;
            -webkit-transform: translate3d(323px, 0, 0);
		}
		
        .name {
            line-height: 25px;
            font-size: 20px;
            font-weight: normal;
            color: #333;
            padding: 11px 10px;
            font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
            height: auto;
            margin-bottom: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 679px;        
        }


        
        .text {
            padding-top: 20px;
            background: url(../images/final/product-detail-popup-seller-panel-divider-1x.png) no-repeat top left;
            
            font-size:14px;
            color: #aaa;
            line-height: 18px;
            padding-bottom: 30px;
        }
        
        .quantity {
            float: left;
            margin-left: 18px;
            font-size: 12px;
            margin-top: 8px;
            color: #666;
            margin-bottom: 20px;
        }
        
        .shipping,
        .seller {
            background: url(../images/final/product-detail-popup-seller-panel-divider-1x.png) no-repeat top left;
            clear: both;
            font-size: 12px;
            padding: 20px 0;
            color: #666;
        }

        img {
/*            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;*/
			padding: 3px;
			border: 1px solid #EAEAEA;
			display: block;
			margin: 0 auto;
        }
        
        .price {
            float: left;
            margin-left: 18px;
            margin-top: 2px;
            padding-right: 23px;
        }

        
		.x-button-plain {

		}

}

.product-view,
.products {
    a:link,
    a:active,
    a:visited {
        display: block;
        border: 1px solid darken(#028257, 10);
        margin: 30px 60px;
        text-align: center;
        padding: 10px;
        font-size: 22px;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        text-decoration: none;
    }
}

.products a {
    margin-top: 0;
}





.user-info {
    padding: 20px 20px;
    font-size: 15px;
    color: white;
    line-height: 50px;
    overflow: hidden;
    
    img {
        height: 50px;
        margin-right: 15px;
        float: left;
    }
}

