@import 'fonts';
@import 'appPanel';
@import 'homePanel';
@import 'sidePanels';
@import 'carousel';
@import 'detailPanel';
@import 'treasuries';

.price {
  color: #78C042;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #DADAD6;
  padding: 5px 5px 4px;
  border-radius: 3px;
  background: rgba(203, 203, 197, 0.1);
  font-family: abril;
  font-weight: normal;
  font-size: 17px;
  line-height: 17px;

    
  &.sold {
    background: url(../images/slices-v2/Product-sold-1x.png) no-repeat center center;
    text-indent: -10000px;
    text-align: left;
    
    .cart-pressed-flag & {
      background: url(../images/slices-v2/Product-sold-1x.png) no-repeat center center;
    }
	}

	.cart-pressed-flag & {
	  background-color: #78C042;
	  color: #fff;
	}

}