#appPanel {
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform 350ms;
	-webkit-box-shadow: 0 0 5px 5px rgba(0,0,0,.3);
	
	.x-layout-card-item {
      background: #fdf9df url(../images/slices-v2/GeneralApp-background-1x.png) repeat 0 0;
	}
	
	.left-nav-button {
    background: url(../images/slices-v2/HeaderBar-left-menu-button-link-1x.png) no-repeat center center;
    border-radius: 0;
    
    &.x-button-pressing {
      background: url(../images/slices-v2/HeaderBar-left-menu-button-active-1x.png) no-repeat center center;
    }
  }
  
  .home-nav-button {
    background: url(../images/slices-v2/HeaderBar-logo-1x.png) no-repeat center center;
    
    &.x-button-pressing {
      background: url(../images/slices-v2/HeaderBar-logo-active-1x.png) no-repeat 23px 0px;
    }
  }
  
  .right-nav-button {
    background: url(../images/slices-v2/HeaderBar-right-menu-button-link-1x.png) no-repeat center center;
    border-radius: 0;
    
    &.x-button-pressing {
      background: url(../images/slices-v2/HeaderBar-right-menu-button-active-1x.png) no-repeat center center;
    }
  }
  
  #appPanelMask {
    background: rgba(0, 0, 0, 0.2);
    z-index: 10000000 !important;
  }
	
}
