#detailPanel {
  background: url(../images/slices-v2/ProductDetail-background-1x.png) no-repeat 0 0;

  padding: 7px 11px 4px 15px;
  
  #detailPanelInfo {
    background: url(../images/slices-v2/ProductDetail-title-bar-shadow-2x.png) no-repeat left bottom;
    background-size: contain;
  }
  
  #detailPanelMainInfo {
    background: #fffef4;
    background-size: contain;
  }
  
  #detailPanelMoreInfo {
    background: #fffef4 url(../images/slices-v2/ProductDetail-long-divider-2x.png) no-repeat left top;
    padding: 20px 10px 20px 20px;
        background-size: contain;
  }
  
  
  .favorite-flag {
    background: url(../images/slices-v2/ProductDetail-favorite-stamp-1x.png) no-repeat left top;
  }
  
  .description-inner-wrapper {
    overflow: hidden;
    
  }
  
  #detailPanelSpacer {
    background: url(../images/slices-v2/ProductDetail-horizontal-divider-1x.png) no-repeat left top;
  }
  

    
    #detailPanelInfoButton {
      background: url(../images/slices-v2/ProductDetail-info-tab-link-2x.png) no-repeat 0 0;
      background-size: contain;
      border-radius: 0 
    }
    
    .x-body {
        overflow: visible;
    }
    
    .x-docking-horizontal {
        overflow: hidden;
    }

	.description {
        background: url(../images/final/product-detail-popup-seller-panel-background-1x.png) no-repeat 1px 0;
        border: none;
        padding: 20px 20px 20px 65px;
        background-size: initial;
        -webkit-transition: -webkit-transform 350ms;
        -webkit-transform: translate3d(323px, 0, 0);
}

    .name {
      line-height: 25px;
      font-size: 22px;
      font-weight: normal;
      color: #000000;
      padding: 13px 17px 8px;
      height: auto;
      margin-bottom: 0;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 500px;
      text-shadow: 1px 1px white;       
    }


    
    .text {
         
        font-size:14px;
        color: #000000;
        line-height: 18px;
        padding-bottom: 30px;
        padding-right: 20px;
    }
    
    .quantity {
        float: left;
        margin-left: 18px;
        font-size: 12px;
        margin-top: 8px;
        color: #666;
        margin-bottom: 20px;
        padding-right: 20px;
    }
    
    .seller {
        background: url(../images/final/product-detail-popup-seller-panel-divider-1x.png) no-repeat left bottom;

        font-size: 12px;
        padding: 0 0 20px 0;
        margin-bottom: 20px;
        color: #000000;
    }
    
    .shipping {
        font-size: 12px;
        color: #000000;
    }

    img {
/*            background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;*/
	padding: 3px;
	border: 1px solid #EAEAEA;
	display: block;
	margin: 0 auto;
    }
    
    .price {
      float: left;
      margin-left: 18px;
      margin-top: 2px;
      padding-right: 41px;
      background-image: url(../images/slices-v2/ProductDetail-cart-button-link-1x.png?4);
      background-repeat: no-repeat;
      background-position: top right;
      height: 27px;
      border-radius: 5px;
      padding-left: 7px;
      

      
    }

    
    .cart-flag .price {
      background-image: url(../images/slices-v2/ProductDetail-cart-button-active-1x.png?4);
    }
    
    
    #detailPanelCarousel .x-carousel {
        overflow: hidden;
    }
    

    
    .x-button {
        height: 87px;
        background: url(../images/final/product-detail-sprite-1x.png?1) no-repeat 13px 25px;
        
        &.active {
            background-position: -87px 25px;
        }
        
        &.x-button-pressing {
            background-position: -87px 25px;
        }
        
        
        &#detailPanelEmail {
            background-position: 13px -475px;
            
            &.x-button-pressing {
                background-position: -87px -475px;
            }
        }
        
        &#detailPanelFacebook {
            background-position: 13px -275px;
            
            &.x-button-pressing {
                background-position: -87px -275px;
            }
        }
        
        &#detailPanelTwitter {
            background-position: 13px -175px;
            
            &.x-button-pressing {
                background-position: -87px -175px;
            }
        }
        
        
    }
    
    #detailPanelCarousel {
        overflow: hidden;
        .x-carousel-item {
/*            background: url(../images/loading.gif) no-repeat center center;*/

            
            .image {
                width: 768px;
                height: 552px;
                background-size: contain;
                background-position: center center;
                background-repeat: no-repeat;
            }
        }
    }

    .detail-panel-image {
    	background-repeat: no-repeat;
    	background-size: contain;
    	background-position: center center;

    	.fullsize & {
    	    background-size: contain;
    	}
    }
}




    
        




.product-view,
.products {
    a:link,
    a:active,
    a:visited {
        display: block;
        border: 1px solid darken(#028257, 10);
        margin: 30px 60px;
        text-align: center;
        padding: 10px;
        font-size: 22px;
        font-family: 'Quattrocento Sans', sans-serif;
        font-weight: bold;
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,.3);
        text-decoration: none;
    }
}