/* ================== */
/* = Treasury Items = */
/* ================== */


#treasuriesPanel {
    
    #treasuriesCarousel {
        
        .x-innerhtml {
            padding: 24px 0;
        }
    }
}

#treasuryPanel {
            
    #treasuryCarousel {
      
      .product {
      	margin: 20px 11px;
      }

      .x-innerhtml div:nth-of-type(17) {
      	display: none;
      }
      
        .products .x-innerhtml {
            padding: 24px 0;
        }
    }
}


.treasury-item {
    height: 166px;
    display: inline-block;
    position: relative;
    width: 425px;
    margin: 25px;
    padding-left: 270px;
    vertical-align: top;
    color: #3F3F3F;
    
    &.small-treasury-item {
        width: 200px;
        margin: 39px 0 0 37px;
        padding: 0;
        
        .title {
          font-size: 23px;
          font-family: GearedSlabThin;
          margin-bottom: 4px;
          height: 54px;
          overflow: hidden;
          position: absolute;
          top: -30px;
          width: 200px;
          text-align: center;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          left: -2px;
          line-height: 30px;
          margin: 0;
        }
        
        .image-wrapper .image {
            width: 125px;
            height: 100px;
        }
    }
    

	.open .image-wrapper .image-1 {
		top: 10px;
        left: 0;
	}
	
	.open .image-wrapper .image-2 {
		left: 16px;
        top: 12px;
        -webkit-transform: rotate(-1deg);
	}
	
	.open .image-wrapper .image-3 {
		left: 38px;
        top: 11px;
	}
	
	.open .image-wrapper .image-4 {
		left: 296px;
		-webkit-transform: rotate(4deg);
		top: 14px;
	}
	
	
    .image-wrapper {
        border: 1px solid #ccc;
        border-radius: 3px;                
        background-color: white;
        padding: 3px;
        position: absolute;
        
        &.image-1 {
            -webkit-transform: rotate(-5deg);
            top: 10px;
            left: 0;
        }

        &.image-2 {
            left: 28px;
            top: 12px;
            -webkit-transform: rotate(-1deg);
        }
			
		.open &.image-2 {
			left: 81px;
			top: 12px;
			-webkit-transform: rotate(-1deg);
		}
		
        &.image-3 {
            left: 61px;
            -webkit-transform: rotate(2deg);
            top: 14px;
        }

		.open &.image-3 {
			left: 185px;
			top: 15px;

		}

//        &.image-4 {
//            left: 61px;
//            -webkit-transform: rotate(2deg);
//            top: 14px;
//        }
//
//		.open &.image-4 {
//			left: 296px;
//			-webkit-transform: rotate(4deg);
//			top: 14px;
//		}
        
        
        .image {
            width: 170px;
            height: 135px;
            background-position: center center;
            background-repeat: no-repeat;




            -webkit-background-clip:padding-box; /* IOS fix */
            background-clip:padding-box; /* IOS fix */
    

        }
    }
    
    .title {
      font-size: 23px;
      font-family: GearedSlabThin;
      margin-bottom: 4px;
      height: 34px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      margin-top: 20px;
        
    }
    
	.user-avatar {
    width: 35px;
    height: 35px;
    float: left;
    background-size: contain;
    margin-right: 10px;
    background: white;
    padding: 3px;
    border: 1px solid #CCC;
    border-radius: 5px;
	}

	.stats {
		clear: both;
		font-size: 11px;
	    padding: 10px 0;
		color: #afafaf;
	}
	
    .user {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
		font-size: 11px;
		padding: 10px 0;
        span {
            color: #afafaf;
        }
        
    }

	.visit-treasury-button {
		padding: 5px 10px;
		background: #079BBE;
		border: 1px solid #BCB9A6;
		border-radius: 3px;
		color: #EDEDEB;
		font-size: 13px;
		display: inline-block;
	}
	
	&.pressed {
	  .visit-treasury-button {
      background: #06667d;
    }

	}
}