/* line 1, ../scss/application.scss */
#closeFullBrowserButton .x-button-icon.x-icon-mask {
  background: #fff;
}

/* line 5, ../scss/application.scss */
#browserSearchPanel {
  -webkit-transition: -webkit-transform 350ms;
  -webkit-transform: translate3d(0, -47px, 0);
}

/* line 11, ../scss/application.scss */
body,
.x-fullscreen, .x-layout-fit-item, .x-layout-card-item {
  background: none;
}

/* line 15, ../scss/application.scss */
.x-fullscreen {
  background: url(../images/background.png) repeat 0 0;
}

/* line 19, ../scss/application.scss */
.large-listings {
  background: #000;
}
/* line 22, ../scss/application.scss */
.large-listings .large-product {
  height: 748px;
  width: 1024px;
}
/* line 26, ../scss/application.scss */
.large-listings .large-product .image {
  height: 748px;
  width: 1024px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 36, ../scss/application.scss */
.products {
  /*    .landscape .product {
          width: 25%;
  
          .image {
              margin-top: 36px;
          }
      }
  
      .portrait .product {
          width: 33%;
  
          .image {
              margin-top: 18px;
          }
      }*/
}
/* line 39, ../scss/application.scss */
.products .x-innerhtml {
  /*        display: table;
          table-layout: fixed;*/
  /*        width: 100%;
          height: 100%;*/
  padding: 10px;
  overflow: hidden;
  /*        border: 1px solid #ccc;
          border-width: 0 1px 1px 0;*/
}
/* line 49, ../scss/application.scss */
.x-phone .products .x-innerhtml {
  border-right: 0;
  border-bottom: 0;
}
/* line 55, ../scss/application.scss */
.products .row {
  /*        display: table-row;*/
}
/* line 58, ../scss/application.scss */
.products .row > * {
  /*            display: table-cell;*/
}
/* line 62, ../scss/application.scss */
.products .row:last-child .product {
  /*            border-bottom: 0;*/
}
/* line 68, ../scss/application.scss */
.products .product {
  background: url(../images/polaroid_background.png) no-repeat center bottom;
  position: relative;
  display: block;
  float: left;
  height: 198px;
  width: 184px;
  padding: 6px;
  margin: 8px 8px 5px 8px;
}
/* line 78, ../scss/application.scss */
.products .product.category {
  margin: 35px;
}
/* line 83, ../scss/application.scss */
.products .product .image {
  height: 135px;
  width: 170px;
  background-repeat: no-repeat;
  background-position: center center;
}
/* line 94, ../scss/application.scss */
.products .product .category-name {
  padding: 60px 20px;
  text-align: center;
}
/* line 99, ../scss/application.scss */
.products .product .name {
  margin-top: 5px;
  height: 15px;
  width: 100%;
  display: block;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
}
/* line 111, ../scss/application.scss */
.products .product .price {
  font-size: 13px;
  position: absolute;
  right: 9px;
  bottom: 16px;
  color: #78C042;
  line-height: 14px;
  text-align: right;
  width: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
/* line 124, ../scss/application.scss */
.products .product .price .usd {
  font-size: 9px;
}

/* line 149, ../scss/application.scss */
.product-view {
  background: #fff;
  padding: 30px;
}
/* line 154, ../scss/application.scss */
.product-view .product-view-inner .description {
  padding-left: 15px;
}
/* line 157, ../scss/application.scss */
.product-view .product-view-inner .description ul li {
  list-style: disc outside none;
  margin-left: 25px;
}
/* line 163, ../scss/application.scss */
.product-view .product-view-inner .name {
  font-family: 'Quattrocento Sans', sans-serif;
  line-height: 28px;
  font-size: 20px;
  font-weight: 700;
  color: #014637;
}
/* line 171, ../scss/application.scss */
.product-view .product-view-inner .text {
  font-size: 14px;
  color: #aaa;
  line-height: 20px;
}
/* line 177, ../scss/application.scss */
.product-view .product-view-inner .x-img {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 189, ../scss/application.scss */
.product-view a:link,
.product-view a:active,
.product-view a:visited,
.products a:link,
.products a:active,
.products a:visited {
  display: block;
  border: 1px solid #015035;
  margin: 30px 60px;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* line 204, ../scss/application.scss */
.products a {
  margin-top: 0;
}
