/* ================== */
/* = Treasury Items = */
/* ================== */
/* line 6, ../sass/application.scss */
#treasuriesCarousel .treasury-item {
  height: 166px;
  display: inline-block;
  position: relative;
  width: 472px;
  margin: 40px 10px 20px 30px;
  padding-left: 280px;
  vertical-align: top;
  color: #3f3f3f;
}
/* line 17, ../sass/application.scss */
#treasuriesCarousel .treasury-item .image-wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
  position: absolute;
  top: 10px;
  left: 0;
}
/* line 26, ../sass/application.scss */
#treasuriesCarousel .treasury-item .image-wrapper.image-1 {
  -webkit-transform: rotate(-5deg);
}
/* line 31, ../sass/application.scss */
#treasuriesCarousel .treasury-item .image-wrapper.image-2 {
  left: 16px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 37, ../sass/application.scss */
#treasuriesCarousel .treasury-item .image-wrapper.image-3 {
  left: 38px;
  top: 15px;
}
/* line 42, ../sass/application.scss */
#treasuriesCarousel .treasury-item .image-wrapper.image-4 {
  left: 61px;
  -webkit-transform: rotate(2deg);
  top: 14px;
}
/* line 49, ../sass/application.scss */
#treasuriesCarousel .treasury-item .image-wrapper .image {
  width: 170px;
  height: 135px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-clip: padding-box;
  /* IOS fix */
  background-clip: padding-box;
  /* IOS fix */
}
/* line 65, ../sass/application.scss */
#treasuriesCarousel .treasury-item .title {
  font-size: 30px;
  font-family: georgia;
  margin-bottom: 5px;
}
/* line 72, ../sass/application.scss */
#treasuriesCarousel .treasury-item .user {
  font-size: 13px;
  padding: 10px 0;
}
/* line 75, ../sass/application.scss */
#treasuriesCarousel .treasury-item .user span {
  color: #ccc;
}

/* line 88, ../sass/application.scss */
#appPanel {
  background: url(../images/background.png) repeat 0 0;
  -webkit-transition: -webkit-transform 350ms;
  -webkit-transform: translate3d(0, 0, 0);
}

/*.x-carousel .x-mask.x-floating {
    background: rgba(0,0,0,0.1);
}*/
/* line 103, ../sass/application.scss */
.x-field-search .x-field-input .x-form-field {
  font-family: helvetica;
  font-size: 11px;
  height: 25px;
  padding-left: 15px;
}

/* line 110, ../sass/application.scss */
.homepage-button {
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 200px;
  margin: 20px;
}

/* line 118, ../sass/application.scss */
#closeFullBrowserButton .x-button-icon.x-icon-mask {
  background: #fff;
}

/* line 122, ../sass/application.scss */
#browserSearchPanel {
  -webkit-transition: -webkit-transform 350ms;
  -webkit-transform: translate3d(0, -47px, 0);
}

/* line 130, ../sass/application.scss */
.large-listings {
  background: #000;
}
/* line 133, ../sass/application.scss */
.large-listings .large-product {
  height: 748px;
  width: 1024px;
}
/* line 137, ../sass/application.scss */
.large-listings .large-product .image {
  height: 748px;
  width: 1024px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 147, ../sass/application.scss */
.products {
  /*    .landscape .product {
          width: 25%;
  
          .image {
              margin-top: 36px;
          }
      }
  
      .portrait .product {
          width: 33%;
  
          .image {
              margin-top: 18px;
          }
      }*/
}
/* line 150, ../sass/application.scss */
.products .x-innerhtml {
  /*        display: table;
          table-layout: fixed;*/
  /*        width: 100%;
          height: 100%;*/
  padding: 10px;
  overflow: hidden;
  /*        border: 1px solid #ccc;
          border-width: 0 1px 1px 0;*/
}
/* line 160, ../sass/application.scss */
.x-phone .products .x-innerhtml {
  border-right: 0;
  border-bottom: 0;
}
/* line 166, ../sass/application.scss */
.products .row {
  padding: 13px 20px 0;
  /*        display: table-row;*/
}
/* line 170, ../sass/application.scss */
.products .row > * {
  /*            display: table-cell;*/
}
/* line 174, ../sass/application.scss */
.products .row:last-child .product {
  /*            border-bottom: 0;*/
}
/* line 179, ../sass/application.scss */
.products .x-dataview-item {
  display: inline-block;
  vertical-align: top;
}
/* line 184, ../sass/application.scss */
.products .favorite-flag .favorite-stamp {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 57px;
  height: 57px;
  background: url(../images/heart_stamp_x2.png);
  background-size: contain;
  z-index: 1000;
}
/* line 195, ../sass/application.scss */
.products .cart-flag .cart-stamp {
  position: absolute;
  top: -4px;
  right: -9px;
  width: 50px;
  height: 26px;
  background: red;
  z-index: 10000;
  background: url(../images/cart_stamp_x2.png) no-repeat 0 0;
  background-size: contain;
}
/* line 208, ../sass/application.scss */
.products .product {
  /*        background: url(../images/polaroid_background.png) no-repeat center bottom;*/
  background: white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 178px;
  width: 182px;
  padding: 0;
  margin: 15px 29px;
  padding: 5px;
  border: 1px solid #EAE9E1;
  /*-moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 2px #888;*/
  border-radius: 4px;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}
/* line 226, ../sass/application.scss */
.products .product.category {
  margin: 35px;
  float: none;
}
/* line 233, ../sass/application.scss */
.products .product .image-wrapper {
  height: 135px;
  width: 170px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  position: relative;
}
/* line 242, ../sass/application.scss */
.products .product .image-wrapper .image {
  position: relative;
  z-index: 10;
  height: 135px;
  width: 170px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: -webkit-transform 250ms;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 255, ../sass/application.scss */
.products .product .image-wrapper .actions {
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 170px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  background: url(../images/share_background.png) no-repeat 0 0;
  background-size: contain;
}
/* line 266, ../sass/application.scss */
.products .product .image-wrapper .actions div {
  text-indent: -10000em;
  float: left;
  width: 50%;
  text-align: center;
  padding: 20% 10%;
}
/* line 283, ../sass/application.scss */
.products .product .category-name {
  padding: 60px 20px;
  text-align: center;
}
/* line 288, ../sass/application.scss */
.products .product .name {
  margin-top: 4px;
  height: 29px;
  padding-left: 2px;
  width: 114px;
  display: block;
  color: #666;
  font-size: 11px;
  overflow: hidden;
}
/* line 300, ../sass/application.scss */
.products .product .price {
  font-size: 19px;
  position: absolute;
  right: 5px;
  bottom: 5px;
  color: #78C042;
  line-height: 14px;
  text-align: right;
  width: 52px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #DADAD6;
  padding: 5px 5px 4px;
  border-radius: 3px;
  background: rgba(203, 203, 197, 0.1);
  font-family: serif;
  font-weight: bold;
}

/* line 343, ../sass/application.scss */
.product-view .description {
  background: white;
  border: 1px solid #000;
  -webkit-transition: -webkit-transform 350ms;
  -webkit-transform: translate3d(290px, 0, 0);
}
/* line 349, ../sass/application.scss */
.product-view .description .description-inner-wrapper {
  padding: 15px;
}
/* line 355, ../sass/application.scss */
.product-view .name {
  line-height: 28px;
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
}
/* line 363, ../sass/application.scss */
.product-view .text {
  font-size: 14px;
  color: #aaa;
  line-height: 20px;
}
/* line 369, ../sass/application.scss */
.product-view img {
  /*            background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;*/
  padding: 3px;
  border: 1px solid #EAEAEA;
  display: block;
  margin: 0 auto;
}

/* line 389, ../sass/application.scss */
.product-view a:link,
.product-view a:active,
.product-view a:visited,
.products a:link,
.products a:active,
.products a:visited {
  display: block;
  border: 1px solid #015035;
  margin: 30px 60px;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* line 404, ../sass/application.scss */
.products a {
  margin-top: 0;
}

/* line 408, ../sass/application.scss */
#detailPanelCarousel {
  background: #fff;
}
/* line 411, ../sass/application.scss */
#detailPanelCarousel.fullsize {
  background: #000;
}
/* line 419, ../sass/application.scss */
#detailPanelCarousel .x-carousel-item {
  background: url(../images/loading.gif) no-repeat center center;
  background-size: 10%;
}

/* line 424, ../sass/application.scss */
.detail-panel-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
/* line 429, ../sass/application.scss */
.fullsize .detail-panel-image {
  background-size: contain;
}
