/* line 1, ../sass/application.scss */
::selection {
  background: none;
}

/* line 5, ../sass/application.scss */
#appPanel {
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 350ms;
}
/* line 9, ../sass/application.scss */
#appPanel .x-layout-card-item {
  background: url(../images/background_x2.png) repeat 0 0;
  /*background: #fff;*/
}

/* line 18, ../sass/application.scss */
#homePanel .treasury-item-wrapper div > div:nth-of-type(3) {
  display: none;
}
/* line 22, ../sass/application.scss */
#homePanel #homePanelLeft {
  background: #f4f2dd;
}
/* line 25, ../sass/application.scss */
#homePanel #homePanelLeft .x-field {
  background: none;
}
/* line 29, ../sass/application.scss */
#homePanel #homePanelLeft #homeSearch {
  padding: 0px 230px 0;
}
/* line 32, ../sass/application.scss */
#homePanel #homePanelLeft #homeSearch .x-field-search .x-field-input .x-form-field {
  margin-left: 40px;
}
/* line 37, ../sass/application.scss */
#homePanel #homePanelLeft #homeSearch .x-component-outer {
  border: 5px solid #E1DFCC;
  border-radius: 34px;
  background: #EAE8D5;
  margin: 0;
}
/* line 45, ../sass/application.scss */
#homePanel #homePanelLeft #homeSearch .x-component-outer .x-input-search {
  padding: 8px 14px;
  font-size: 20px;
  height: auto;
  margin-left: 45px;
}
/* line 52, ../sass/application.scss */
#homePanel #homePanelLeft #homeSearch .x-component-outer .x-field-input::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: 9px;
  left: 16px;
  -webkit-mask-size: 30px;
  background-color: #CCC;
  -webkit-mask-repeat: no-repeat;
  margin-top: 0;
}
/* line 67, ../sass/application.scss */
#homePanel #homePanelLeft h4 {
  font-size: 20px;
  text-align: center;
  padding: 30px 0 10px;
}
/* line 73, ../sass/application.scss */
#homePanel #homePanelLeft .grey-box {
  /*            background: #eae8d5;
              border-top: 2px solid #e7e6d2;
              
              border-bottom: 2px solid #e7e6d2;*/
}

/* line 87, ../sass/application.scss */
#appPanel {
  -webkit-transition: -webkit-transform 350ms;
}

/* line 91, ../sass/application.scss */
#navPanel {
  /*    background: url(../images/left_rail_background.png) no-repeat 0 0;*/
  background-size: contain;
  background: #46250a;
}
/* line 102, ../sass/application.scss */
#navPanel #categoriesNestedList .x-toolbar .x-title {
  font-size: 12px;
  padding: 5px 20px;
  height: auto;
}

/* line 112, ../sass/application.scss */
#searchPanel {
  background: url(../images/right_rail_background.png) no-repeat 0 0;
  background-size: contain;
  -webkit-transition: -webkit-transform 350ms;
}
/* line 117, ../sass/application.scss */
#searchPanel .x-layout-card-item {
  background: none;
}

/* line 122, ../sass/application.scss */
#detailPanel {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 0.2em 0.6em;
  overflow: hidden;
}
/* line 126, ../sass/application.scss */
#detailPanel #detailPanelInfo {
  background: #f8f8f2 url(../images/detail-title-bar.png) no-repeat 0 0;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.3);
  position: relative;
  z-index: 10;
}
/* line 133, ../sass/application.scss */
#detailPanel #detailPanelCarousel .x-carousel {
  overflow: hidden;
}
/* line 137, ../sass/application.scss */
#detailPanel .x-button {
  height: 70px;
  background: url(../images/final/product-detail-sprite-1x.png) no-repeat 13px 20px;
}
/* line 141, ../sass/application.scss */
#detailPanel .x-button.active {
  background-position: -87px 20px;
}
/* line 145, ../sass/application.scss */
#detailPanel .x-button.x-button-pressing {
  background-position: -87px 20px;
}
/* line 149, ../sass/application.scss */
#detailPanel .x-button#detailPanelCart {
  background-position: 13px -80px;
}
/* line 152, ../sass/application.scss */
#detailPanel .x-button#detailPanelCart.active {
  background-position: -87px -80px;
}
/* line 157, ../sass/application.scss */
#detailPanel .x-button#detailPanelCart.x-button-pressing {
  background-position: -87px -80px;
}
/* line 162, ../sass/application.scss */
#detailPanel .x-button#detailPanelEmail {
  background-position: 13px -480px;
}
/* line 165, ../sass/application.scss */
#detailPanel .x-button#detailPanelEmail.x-button-pressing {
  background-position: -87px -480px;
}
/* line 170, ../sass/application.scss */
#detailPanel .x-button#detailPanelFacebook {
  background-position: 13px -280px;
}
/* line 173, ../sass/application.scss */
#detailPanel .x-button#detailPanelFacebook.x-button-pressing {
  background-position: -87px -280px;
}
/* line 178, ../sass/application.scss */
#detailPanel .x-button#detailPanelTwitter {
  background-position: 13px -180px;
}
/* line 181, ../sass/application.scss */
#detailPanel .x-button#detailPanelTwitter.x-button-pressing {
  background-position: -87px -180px;
}
/* line 189, ../sass/application.scss */
#detailPanel #detailPanelCarousel {
  background: #fff;
}
/* line 191, ../sass/application.scss */
#detailPanel #detailPanelCarousel .x-carousel-item {
  background: url(../images/loading.gif) no-repeat center center;
  background-size: 10%;
}
/* line 195, ../sass/application.scss */
#detailPanel #detailPanelCarousel .x-carousel-item .image {
  width: 694px;
  height: 543px;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}
/* line 205, ../sass/application.scss */
#detailPanel .detail-panel-image {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}
/* line 210, ../sass/application.scss */
.fullsize #detailPanel .detail-panel-image {
  background-size: contain;
}

/*#listingsCarousel .product {
    margin: 10px;
}*/
/* ================== */
/* = Treasury Items = */
/* ================== */
/* line 226, ../sass/application.scss */
#treasuriesPanel .x-innerhtml {
  padding: 24px 0;
}

/* line 232, ../sass/application.scss */
.treasury-item {
  height: 166px;
  display: inline-block;
  position: relative;
  width: 425px;
  margin: 25px;
  padding-left: 270px;
  vertical-align: top;
  color: #3F3F3F;
}
/* line 243, ../sass/application.scss */
.treasury-item .open .image-wrapper .image-1 {
  top: 10px;
  left: 0;
}
/* line 248, ../sass/application.scss */
.treasury-item .open .image-wrapper .image-2 {
  left: 16px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 254, ../sass/application.scss */
.treasury-item .open .image-wrapper .image-3 {
  left: 38px;
  top: 11px;
}
/* line 259, ../sass/application.scss */
.treasury-item .open .image-wrapper .image-4 {
  left: 296px;
  -webkit-transform: rotate(4deg);
  top: 14px;
}
/* line 266, ../sass/application.scss */
.treasury-item .image-wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
  position: absolute;
  -webkit-transition: -webkit-transform 350ms, top 350ms, left 350ms;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 276, ../sass/application.scss */
.treasury-item .image-wrapper.image-1 {
  -webkit-transform: rotate(-5deg);
  top: 10px;
  left: 0;
}
/* line 282, ../sass/application.scss */
.treasury-item .image-wrapper.image-2 {
  left: 16px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 288, ../sass/application.scss */
.open .treasury-item .image-wrapper.image-2 {
  left: 81px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 294, ../sass/application.scss */
.treasury-item .image-wrapper.image-3 {
  left: 38px;
  top: 11px;
}
/* line 299, ../sass/application.scss */
.open .treasury-item .image-wrapper.image-3 {
  left: 185px;
  top: 15px;
}
/* line 305, ../sass/application.scss */
.treasury-item .image-wrapper.image-4 {
  left: 61px;
  -webkit-transform: rotate(2deg);
  top: 14px;
}
/* line 311, ../sass/application.scss */
.open .treasury-item .image-wrapper.image-4 {
  left: 296px;
  -webkit-transform: rotate(4deg);
  top: 14px;
}
/* line 318, ../sass/application.scss */
.treasury-item .image-wrapper .image {
  width: 170px;
  height: 135px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-clip: padding-box;
  /* IOS fix */
  background-clip: padding-box;
  /* IOS fix */
}
/* line 334, ../sass/application.scss */
.treasury-item .title {
  font-size: 23px;
  font-family: georgia;
  margin-bottom: 4px;
  height: 54px;
  overflow: hidden;
}
/* line 343, ../sass/application.scss */
.treasury-item .user-avatar {
  width: 35px;
  height: 35px;
  float: left;
  background-size: contain;
  margin-right: 15px;
}
/* line 351, ../sass/application.scss */
.treasury-item .stats {
  clear: both;
  font-size: 11px;
  padding: 10px 0;
  color: #afafaf;
}
/* line 358, ../sass/application.scss */
.treasury-item .user {
  font-size: 11px;
  padding: 10px 0;
}
/* line 361, ../sass/application.scss */
.treasury-item .user span {
  color: #afafaf;
}
/* line 367, ../sass/application.scss */
.treasury-item .visit-treasury-button {
  padding: 5px 10px;
  background: #079BBE;
  border: 1px solid #BCB9A6;
  border-radius: 3px;
  color: #EDEDEB;
  font-size: 13px;
  display: inline-block;
}

/* line 387, ../sass/application.scss */
.x-field-search .x-field-input .x-form-field {
  font-family: helvetica;
  font-size: 13px;
  height: 29px;
  padding-left: 15px;
}

/* line 394, ../sass/application.scss */
.homepage-button {
  background: #fff;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 200px;
  margin: 20px;
}

/* line 402, ../sass/application.scss */
#closeFullBrowserButton .x-button-icon.x-icon-mask {
  background: #fff;
}

/* line 406, ../sass/application.scss */
#browserSearchPanel {
  -webkit-transition: -webkit-transform 350ms;
  -webkit-transform: translate3d(0, -47px, 0);
}

/* line 414, ../sass/application.scss */
.large-listings {
  background: #000;
}
/* line 417, ../sass/application.scss */
.large-listings .large-product {
  height: 748px;
  width: 1024px;
}
/* line 421, ../sass/application.scss */
.large-listings .large-product .image {
  height: 748px;
  width: 1024px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

/* line 432, ../sass/application.scss */
#browserCarousel .x-mask {
  background: rgba(0, 0, 0, 0) center center no-repeat;
}

/* line 439, ../sass/application.scss */
.products .x-innerhtml {
  padding: 24px 0;
}
/* line 445, ../sass/application.scss */
.products .x-dataview-item {
  display: inline-block;
  vertical-align: top;
}
/* line 450, ../sass/application.scss */
.products .favorite-stamp {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 77px;
  height: 57px;
  background-size: contain;
  z-index: 1000;
  padding-left: 20px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* line 465, ../sass/application.scss */
.products .favorite-flag .favorite-stamp {
  background-image: url(../images/heart_stamp_x2.png);
}
/* line 471, ../sass/application.scss */
.products .cart-flag .cart-stamp {
  position: absolute;
  top: -4px;
  right: -9px;
  width: 50px;
  height: 26px;
  background: red;
  z-index: 10000;
  background: url(../images/cart_stamp_x2.png) no-repeat 0 0;
  background-size: contain;
}
/* line 484, ../sass/application.scss */
.products .product {
  background: white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 178px;
  width: 182px;
  padding: 0;
  margin: 20px 27px;
  padding: 5px;
  border: 1px solid #EAE9E1;
  /*-moz-box-shadow: 0 0 5px #888;
  -webkit-box-shadow: 0 0 5px#888;
  box-shadow: 0 0 2px #888;*/
  border-radius: 4px;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
}
/* line 501, ../sass/application.scss */
.products .product.category {
  margin: 35px;
  float: none;
}
/* line 508, ../sass/application.scss */
.products .product .image-wrapper {
  height: 135px;
  width: 170px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 0 0;
  overflow: hidden;
  position: relative;
}
/* line 517, ../sass/application.scss */
.products .product .image-wrapper .image {
  position: relative;
  z-index: 10;
  height: 135px;
  width: 170px;
  background-color: black;
  background-repeat: no-repeat;
  background-position: 0 0;
  -webkit-transition: -webkit-transform 250ms;
  -webkit-transform: translate3d(0, 0, 0);
}
/* line 530, ../sass/application.scss */
.products .product .image-wrapper .actions {
  bottom: 0px;
  left: 0px;
  height: 80px;
  width: 170px;
  position: absolute;
  z-index: 1;
  font-size: 10px;
  background: url(../images/share_background.png) no-repeat 0 0;
  background-size: contain;
}
/* line 541, ../sass/application.scss */
.products .product .image-wrapper .actions div {
  text-indent: -10000em;
  float: left;
  width: 50%;
  text-align: center;
  height: 100%;
}
/* line 558, ../sass/application.scss */
.products .product .category-name {
  padding: 60px 20px;
  text-align: center;
}
/* line 563, ../sass/application.scss */
.products .product .name {
  margin-top: 4px;
  height: 29px;
  padding-left: 2px;
  width: 114px;
  display: block;
  color: #666;
  font-size: 11px;
  overflow: hidden;
}
/* line 575, ../sass/application.scss */
.products .product .price {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 52px;
}

/* line 584, ../sass/application.scss */
span.count {
  float: right;
  background: brown;
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 7px;
}

/* line 592, ../sass/application.scss */
span.arrow {
  float: right;
  font-size: 13px;
  padding: 2px 5px;
}

/* line 597, ../sass/application.scss */
.price {
  font-size: 19px;
  color: #78C042;
  line-height: 14px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid #DADAD6;
  padding: 5px 5px 4px;
  border-radius: 3px;
  background: rgba(203, 203, 197, 0.1);
  font-family: serif;
  font-weight: bold;
}
/* line 614, ../sass/application.scss */
.price.sold {
  color: red;
  font-size: 14px;
}

/* line 626, ../sass/application.scss */
.product-view .x-body {
  overflow: visible;
}
/* line 630, ../sass/application.scss */
.product-view .x-docking-horizontal {
  overflow: hidden;
}
/* line 634, ../sass/application.scss */
.product-view .description {
  background: url(../images/final/product-detail-popup-seller-panel-background-1x.png) no-repeat 1px 0;
  border: none;
  padding: 20px 20px 20px 65px;
  background-size: initial;
  -webkit-transition: -webkit-transform 350ms;
  -webkit-transform: translate3d(323px, 0, 0);
}
/* line 643, ../sass/application.scss */
.product-view .name {
  line-height: 25px;
  font-size: 20px;
  font-weight: normal;
  color: #333;
  padding: 11px 10px;
  font-family: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
  height: auto;
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 659, ../sass/application.scss */
.product-view .text {
  padding-top: 20px;
  background: url(../images/final/product-detail-popup-seller-panel-divider-1x.png) no-repeat top left;
  font-size: 14px;
  color: #aaa;
  line-height: 18px;
  padding-bottom: 30px;
}
/* line 669, ../sass/application.scss */
.product-view .quantity {
  float: left;
  margin-left: 18px;
  font-size: 12px;
  margin-top: 8px;
  color: #666;
  margin-bottom: 20px;
}
/* line 679, ../sass/application.scss */
.product-view .shipping,
.product-view .seller {
  background: url(../images/final/product-detail-popup-seller-panel-divider-1x.png) no-repeat top left;
  clear: both;
  font-size: 12px;
  padding: 20px 0;
  color: #666;
}
/* line 687, ../sass/application.scss */
.product-view img {
  /*            background-size: contain;
              background-repeat: no-repeat;
              background-position: center center;*/
  padding: 3px;
  border: 1px solid #EAEAEA;
  display: block;
  margin: 0 auto;
}
/* line 697, ../sass/application.scss */
.product-view .price {
  font-size: 19px;
  color: #78C042;
  line-height: 14px;
  text-align: right;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border: none;
  padding: 9px 29px 4px 11px;
  font-family: serif;
  font-weight: bold;
  margin-left: 18px;
}

/* line 723, ../sass/application.scss */
.product-view a:link,
.product-view a:active,
.product-view a:visited,
.products a:link,
.products a:active,
.products a:visited {
  display: block;
  border: 1px solid #015035;
  margin: 30px 60px;
  text-align: center;
  padding: 10px;
  font-size: 22px;
  font-family: 'Quattrocento Sans', sans-serif;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

/* line 738, ../sass/application.scss */
.products a {
  margin-top: 0;
}

/* ======================= */
/* = Popup Cateogry List = */
/* ======================= */
/* line 748, ../sass/application.scss */
#categoriesNestedList .x-list-normal .x-list-item .x-list-item-label span {
  display: block;
  background: url(../images/left_arrow.jpg) no-repeat center right;
}
/* line 752, ../sass/application.scss */
#categoriesNestedList .x-list-normal .x-list-item .x-list-item-label span.x-list-item-leaf {
  background: url(../images/left_go.jpg) no-repeat center right;
}

/* line 759, ../sass/application.scss */
.user-info {
  padding: 20px 20px;
  font-size: 15px;
  color: white;
  line-height: 50px;
  overflow: hidden;
}
/* line 766, ../sass/application.scss */
.user-info img {
  height: 50px;
  margin-right: 15px;
  float: left;
}
