/* line 5, ../sass/carousel.scss */
#appPanel .leftArrow {
  background: url("../images/left_arrow_off.png") no-repeat left center;
  background-size: contain;
  border-radius: 0;
}
/* line 10, ../sass/carousel.scss */
#appPanel .leftArrow.x-button-pressing {
  background-image: url("../images/left_arrow_on.png");
}

/* line 19, ../sass/carousel.scss */
#appPanel .rightArrow {
  background: url("../images/right_arrow_off.png") no-repeat left center;
  background-size: contain;
  border-radius: 0;
}
/* line 24, ../sass/carousel.scss */
#appPanel .rightArrow.x-button-pressing {
  background-image: url("../images/right_arrow_on.png");
}

/* line 30, ../sass/carousel.scss */
h1 {
  padding: 91px 200px 0;
  font-size: 28px;
  text-align: center;
}

/* line 36, ../sass/carousel.scss */
p.desc {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

/* line 42, ../sass/carousel.scss */
.no-favorites-messaging {
  background: url(../images/slices-v2/Favorites-no-items-2x.png) no-repeat 0 0;
  background-size: contain;
  width: 430px;
  height: 430px;
  margin: 0 auto;
}

/* line 50, ../sass/carousel.scss */
.no-search-results-messaging {
  background: url(../images/slices-v2/Results-no-items-2x.png) no-repeat 0 0;
  background-size: contain;
  width: 430px;
  height: 430px;
  margin: 0 auto;
}

/* line 60, ../sass/carousel.scss */
#categoriesPanel .favorites .x-title .x-innerhtml {
  background: none;
}
/* line 64, ../sass/carousel.scss */
#categoriesPanel .x-title .x-innerhtml {
  background: url(../images/slices-v2/HeaderBar-bookmark-ribbon-off-1x.png) no-repeat top right;
  padding: 0 55px;
  height: 62px;
}
/* line 69, ../sass/carousel.scss */
#categoriesPanel .bookmarked .x-innerhtml {
  background: url(../images/slices-v2/HeaderBar-bookmark-ribbon-on-1x.png) no-repeat top right;
}

/* line 76, ../sass/carousel.scss */
.products .x-innerhtml {
  padding: 45px 0 0 72px;
}
/* line 80, ../sass/carousel.scss */
.products .x-innerhtml div:nth-of-type(13) {
  display: none;
}
/* line 85, ../sass/carousel.scss */
.products .favorite-stamp {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 77px;
  height: 57px;
  background-size: contain;
  z-index: 1000;
  padding-left: 20px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* line 98, ../sass/carousel.scss */
.products .favorite-flag .favorite-stamp {
  background-image: url(../images/heart_stamp_x2.png);
}
/* line 102, ../sass/carousel.scss */
.products .cart-flag .cart-stamp {
  position: absolute;
  top: -4px;
  right: -9px;
  width: 50px;
  height: 26px;
  background: red;
  z-index: 10000;
  background: url(../images/cart_stamp_x2.png) no-repeat 0 0;
  background-size: contain;
}
/* line 114, ../sass/carousel.scss */
.products .product {
  background: white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 178px;
  width: 182px;
  padding: 0;
  margin: 0 50px 38px 0;
  padding: 5px;
  border: 1px solid #EAE9E1;
  border-radius: 4px;
}
/* line 127, ../sass/carousel.scss */
.products .product.product-pressed-flag .name {
  color: #D24700;
}
/* line 131, ../sass/carousel.scss */
.products .product .image {
  height: 135px;
  width: 170px;
}
/* line 136, ../sass/carousel.scss */
.products .product .name {
  margin-top: 6px;
  height: 27px;
  padding-left: 2px;
  width: 114px;
  display: block;
  color: #666;
  font-size: 11px;
  overflow: hidden;
}
/* line 147, ../sass/carousel.scss */
.products .product .price {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 52px;
}

/* line 156, ../sass/carousel.scss */
.product-bounce {
  -webkit-transition-property: all;
  -webkit-animation: product-bounce 1s 1;
}

@-webkit-keyframes product-bounce {
  /* line 162, ../sass/carousel.scss */
  0% {
    -webkit-transform: rotate(0) translate3d(0, 30px, 0);
  }

  /* line 166, ../sass/carousel.scss */
  25% {
    -webkit-transform: rotate(4deg) translate3d(0, -10px, 0);
  }

  /* line 170, ../sass/carousel.scss */
  50% {
    -webkit-transform: rotate(-2deg) translate3d(0, 5px, 0);
  }

  /* line 174, ../sass/carousel.scss */
  100% {
    -webkit-transform: rotate(0) translate3d(0, 0px, 0);
  }
}

/* line 179, ../sass/carousel.scss */
.quick-bounce {
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);
  -webkit-transform: translate3d(0, 0, 0);
}
