/* line 5, ../sass/carousel.scss */
#appPanel .leftArrow {
  background: url("../images/left_arrow_off.png") no-repeat left center;
  background-size: contain;
  border-radius: 0;
}
/* line 10, ../sass/carousel.scss */
#appPanel .leftArrow.x-button-pressing {
  background-image: url("../images/left_arrow_on.png");
}

/* line 19, ../sass/carousel.scss */
#appPanel .rightArrow {
  background: url("../images/right_arrow_off.png") no-repeat left center;
  background-size: contain;
  border-radius: 0;
}
/* line 24, ../sass/carousel.scss */
#appPanel .rightArrow.x-button-pressing {
  background-image: url("../images/right_arrow_on.png");
}

/* line 30, ../sass/carousel.scss */
#categoriesPanel .bookmarked .x-innerhtml {
  color: #D24700;
}

/* line 35, ../sass/carousel.scss */
.products .x-innerhtml {
  padding: 45px 0 0 72px;
}
/* line 39, ../sass/carousel.scss */
.products .x-innerhtml div:nth-of-type(13) {
  display: none;
}
/* line 44, ../sass/carousel.scss */
.products .favorite-stamp {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 77px;
  height: 57px;
  background-size: contain;
  z-index: 1000;
  padding-left: 20px;
  background-position: bottom right;
  background-repeat: no-repeat;
}
/* line 57, ../sass/carousel.scss */
.products .favorite-flag .favorite-stamp {
  background-image: url(../images/heart_stamp_x2.png);
}
/* line 61, ../sass/carousel.scss */
.products .cart-flag .cart-stamp {
  position: absolute;
  top: -4px;
  right: -9px;
  width: 50px;
  height: 26px;
  background: red;
  z-index: 10000;
  background: url(../images/cart_stamp_x2.png) no-repeat 0 0;
  background-size: contain;
}
/* line 73, ../sass/carousel.scss */
.products .product {
  background: white;
  position: relative;
  display: inline-block;
  vertical-align: top;
  height: 178px;
  width: 182px;
  padding: 0;
  margin: 0 50px 38px 0;
  padding: 5px;
  border: 1px solid #EAE9E1;
  border-radius: 4px;
}
/* line 86, ../sass/carousel.scss */
.products .product.product-pressed-flag .name {
  color: #D24700;
}
/* line 90, ../sass/carousel.scss */
.products .product .image {
  height: 135px;
  width: 170px;
}
/* line 95, ../sass/carousel.scss */
.products .product .name {
  margin-top: 6px;
  height: 27px;
  padding-left: 2px;
  width: 114px;
  display: block;
  color: #666;
  font-size: 11px;
  overflow: hidden;
}
/* line 106, ../sass/carousel.scss */
.products .product .price {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 52px;
}

/* line 115, ../sass/carousel.scss */
.product-bounce {
  -webkit-transition-property: all;
  -webkit-animation: product-bounce 1s 1;
}

@-webkit-keyframes product-bounce {
  /* line 121, ../sass/carousel.scss */
  0% {
    -webkit-transform: rotate(0) translate3d(0, 30px, 0);
  }

  /* line 125, ../sass/carousel.scss */
  25% {
    -webkit-transform: rotate(4deg) translate3d(0, -10px, 0);
  }

  /* line 129, ../sass/carousel.scss */
  50% {
    -webkit-transform: rotate(-2deg) translate3d(0, 5px, 0);
  }

  /* line 133, ../sass/carousel.scss */
  100% {
    -webkit-transform: rotate(0) translate3d(0, 0px, 0);
  }
}

/* line 138, ../sass/carousel.scss */
.quick-bounce {
  -webkit-transition-property: all;
  -webkit-transition-duration: .5s;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.5);
  -webkit-transform: translate3d(0, 0, 0);
}
