/*
Syntax error: Undefined mixin 'bg-image'.
        on line 34 of /Users/mcallister/projects/gesturetheory/etsy-ipad/website/etsyBrowser/www/resources/sass/detailPanel.scss, in `bg-image'
        from line 34 of /Users/mcallister/projects/gesturetheory/etsy-ipad/website/etsyBrowser/www/resources/sass/detailPanel.scss

<<<<<<< HEAD
Backtrace:
/Users/mcallister/projects/gesturetheory/etsy-ipad/website/etsyBrowser/www/resources/sass/detailPanel.scss:34:in `bg-image'
/Users/mcallister/projects/gesturetheory/etsy-ipad/website/etsyBrowser/www/resources/sass/detailPanel.scss:34
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:170:in `visit_mixin'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:236:in `visit_rule'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:27:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:39:in `with_environment'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:26:in `visit_children'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:47:in `visit_root'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:18:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/tree/root_node.rb:20:in `render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:300:in `_render'
/Library/Ruby/Gems/1.8/gems/sass-3.1.12/lib/sass/../sass/engine.rb:247:in `render'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:140:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:139:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/logger.rb:45:in `red'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:138:in `compile'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:118:in `compile_if_required'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:103:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `each'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:101:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:126:in `timed'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/compiler.rb:100:in `run'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:147:in `recompile'
/System/Library/Frameworks/Ruby.framework/Versions/1.8/usr/lib/ruby/1.8/rubygems/custom_require.rb:31:in `to_proc'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `call'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:73:in `run_callback'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:55:in `callback_action'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/path.rb:35:in `update'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:39:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:37:in `modified'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/state/directory.rb:18:in `refresh'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:30:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:27:in `temporary_multipath_handler'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:17:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `each'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:16:in `run'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.4.3.1/lib/rb-fsevent/fsevent.rb:37:in `call'
/Library/Ruby/Gems/1.8/gems/rb-fsevent-0.4.3.1/lib/rb-fsevent/fsevent.rb:37:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/backends/rbfsevent.rb:20:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm/monitor.rb:26:in `run'
/Library/Ruby/Gems/1.8/gems/fssm-0.2.7/lib/fssm.rb:20:in `monitor'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/watch_project.rb:87:in `perform'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/base.rb:18:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/commands/project_base.rb:19:in `execute'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:29
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:43:in `call'
/Library/Ruby/Gems/1.8/gems/compass-0.12.1/bin/compass:43
/usr/bin/compass:19:in `load'
/usr/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'bg-image'.\A         on line 34 of /Users/mcallister/projects/gesturetheory/etsy-ipad/website/etsyBrowser/www/resources/sass/detailPanel.scss, in `bg-image'\A         from line 34 of /Users/mcallister/projects/gesturetheory/etsy-ipad/website/etsyBrowser/www/resources/sass/detailPanel.scss"; }
=======
/* Vertical divider line in the title bar. */
/* line 133, ../sass/detailPanel.scss */
#detailPanelSpacer {
  background: left top no-repeat;
  background-size: 100%;
  background-image: url("../images/slices-v2/ProductDetail-vertical-divider-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 133, ../sass/detailPanel.scss */
  #detailPanelSpacer {
    background-image: url("../images/slices-v2/ProductDetail-vertical-divider-2x.png");
  }
}

/*
  Detail panel title bar.
  
  Contains the title, sharing tools and price information.
*/
/* line 145, ../sass/detailPanel.scss */
#detailPanelInfo {
  background: left bottom no-repeat;
  background-size: 100% auto;
  background-image: url("../images/slices-v2/ProductDetail-title-bar-shadow-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 145, ../sass/detailPanel.scss */
  #detailPanelInfo {
    background-image: url("../images/slices-v2/ProductDetail-title-bar-shadow-2x.png");
  }
}
/* line 151, ../sass/detailPanel.scss */
#detailPanelInfo .left-wrapper {
  padding-right: 20px;
}

/* Containing element for product details. */
/* line 157, ../sass/detailPanel.scss */
#detailPanelMainInfo {
  background: #fffef4;
  /* Wrapper for detail elements. */
  /*
    Sharing tools.
  */
}
/* line 160, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-inner {
  width: 100%;
}
/* line 165, ../sass/detailPanel.scss */
#detailPanelMainInfo .description-inner-wrapper {
  padding: 13px 18px 14px 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 171, ../sass/detailPanel.scss */
#detailPanelMainInfo .name {
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: black;
  text-shadow: 1px 1px white;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 181, ../sass/detailPanel.scss */
#detailPanelMainInfo .price {
  float: left;
  height: 27px;
  padding: 0 41px 0 7px;
  color: #78c042;
  background: top right no-repeat #fffef4;
  background-size: auto 100%;
  border: 1px solid #DADAD6;
  -moz-transition: all 0.2s ease-out;
  -webkit-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  background-image: url("../images/slices-v2/ProductDetail-cart-button-link-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 181, ../sass/detailPanel.scss */
  #detailPanelMainInfo .price {
    background-image: url("../images/slices-v2/ProductDetail-cart-button-link-2x.png");
  }
}
/* line 195, ../sass/detailPanel.scss */
#detailPanelMainInfo .price.sold {
  background-image: url("../images/slices-v2/Product-sold-1x.png");
  background-size: auto;
  text-indent: 10000em;
  width: 63px;
  background-position: center center;
}
/* line 203, ../sass/detailPanel.scss */
#detailPanelMainInfo .price:hover {
  cursor: pointer;
}
/* line 207, ../sass/detailPanel.scss */
#detailPanelMainInfo .price:active {
  -moz-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);
}
/* line 213, ../sass/detailPanel.scss */
#detailPanelMainInfo .cart-confirmation, #detailPanelMainInfo .quantity {
  float: left;
  margin: 0 0 0 18px;
  color: #666666;
  font-size: 12px;
  line-height: 27px;
}
/* line 221, ../sass/detailPanel.scss */
#detailPanelMainInfo .cart-confirmation {
  display: none;
}
/* line 228, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button {
  width: 32px;
  height: 90px;
  margin: 0 10px;
  padding: 0;
  background: left center no-repeat transparent;
  background-size: auto 100%;
  /* Favorite button. */
  /* Email sharing. */
  /* Facebook sharing. */
  /* Twitter sharing. */
}
/* line 236, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button.x-button-pressing {
  background-position: right center;
}
/* line 241, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button#detailPanelHeart {
  background-image: url("../images/slices-v2/ProductDetail-favorite-button-sprite-1x.png");
  background-position: right center;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 241, ../sass/detailPanel.scss */
  #detailPanelMainInfo .x-button#detailPanelHeart {
    background-image: url("../images/slices-v2/ProductDetail-favorite-button-sprite-2x.png");
  }
}
/* line 246, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button#detailPanelHeart.active {
  background-position: right center;
}
/* line 250, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button#detailPanelHeart.x-button-pressing {
  background-position: center center;
}
/* line 256, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button#detailPanelEmail {
  background-image: url("../images/slices-v2/ProductDetail-email-button-sprite-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 256, ../sass/detailPanel.scss */
  #detailPanelMainInfo .x-button#detailPanelEmail {
    background-image: url("../images/slices-v2/ProductDetail-email-button-sprite-2x.png");
  }
}
/* line 261, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button#detailPanelFacebook {
  background-image: url("../images/slices-v2/ProductDetail-facebook-button-sprite-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 261, ../sass/detailPanel.scss */
  #detailPanelMainInfo .x-button#detailPanelFacebook {
    background-image: url("../images/slices-v2/ProductDetail-facebook-button-sprite-2x.png");
  }
}
/* line 266, ../sass/detailPanel.scss */
#detailPanelMainInfo .x-button#detailPanelTwitter {
  background-image: url("../images/slices-v2/ProductDetail-twitter-button-sprite-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 266, ../sass/detailPanel.scss */
  #detailPanelMainInfo .x-button#detailPanelTwitter {
    background-image: url("../images/slices-v2/ProductDetail-twitter-button-sprite-2x.png");
  }
}
/* line 271, ../sass/detailPanel.scss */
#detailPanelMainInfo #detailPanelSpacer {
  margin: 0 10px;
}

/*
  Green tag- More info button. 
  
  Chained selector for higher specificity.
*/
/* line 281, ../sass/detailPanel.scss */
#detailPanelInfoButton.x-button {
  background: no-repeat;
  border-radius: 0;
  background-image: url("../images/slices-v2/ProductDetail-info-tab-link-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 281, ../sass/detailPanel.scss */
  #detailPanelInfoButton.x-button {
    background-image: url("../images/slices-v2/ProductDetail-info-tab-link-2x.png");
  }
}
/* line 287, ../sass/detailPanel.scss */
#detailPanelInfoButton.x-button.x-button-pressing {
  background: no-repeat;
  background-image: url("../images/slices-v2/ProductDetail-info-tab-active-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 287, ../sass/detailPanel.scss */
  #detailPanelInfoButton.x-button.x-button-pressing {
    background-image: url("../images/slices-v2/ProductDetail-info-tab-active-2x.png");
  }
}
/* line 293, ../sass/detailPanel.scss */
#detailPanelInfoButton.x-button.active {
  background-image: url("../images/slices-v2/ProductDetail-close-tab-link-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 293, ../sass/detailPanel.scss */
  #detailPanelInfoButton.x-button.active {
    background-image: url("../images/slices-v2/ProductDetail-close-tab-link-2x.png");
  }
}
/* line 296, ../sass/detailPanel.scss */
#detailPanelInfoButton.x-button.active.x-button-pressing {
  background: no-repeat;
  background-image: url("../images/slices-v2/ProductDetail-close-tab-active-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 296, ../sass/detailPanel.scss */
  #detailPanelInfoButton.x-button.active.x-button-pressing {
    background-image: url("../images/slices-v2/ProductDetail-close-tab-active-2x.png");
  }
}

/*
  Extra info panel for an item.
  Hidden by default.
*/
/* line 307, ../sass/detailPanel.scss */
#detailPanelMoreInfo {
  padding: 20px 10px 20px 20px;
  background: left top no-repeat #fffef4;
  background-size: 100%;
  background-image: url("../images/slices-v2/ProductDetail-long-divider-1x.png");
  /*
    Container for description text.
  */
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 307, ../sass/detailPanel.scss */
  #detailPanelMoreInfo {
    background-image: url("../images/slices-v2/ProductDetail-long-divider-2x.png");
  }
}
/* line 314, ../sass/detailPanel.scss */
#detailPanelMoreInfo .seller {
  margin-bottom: 20px;
  padding: 0 0 20px 0;
  font-size: 12px;
  color: black;
  background: left bottom no-repeat;
  background-size: 100%;
  background-image: url("../images/final/product-detail-popup-seller-panel-divider-1x.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 314, ../sass/detailPanel.scss */
  #detailPanelMoreInfo .seller {
    background-image: url("../images/final/product-detail-popup-seller-panel-divider-2x.png");
  }
}
/* line 324, ../sass/detailPanel.scss */
#detailPanelMoreInfo .seller span {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 1px solid #afafaf;
}
/* line 7, ../../../../../../Users/roycyang/.rvm/gems/ruby-1.9.2-p290@undercurrent/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#detailPanelMoreInfo .seller span {
  *display: inline;
}
/* line 331, ../sass/detailPanel.scss */
#detailPanelMoreInfo .seller span:last-child {
  border: 0;
}
/* line 337, ../sass/detailPanel.scss */
#detailPanelMoreInfo .shipping {
  font-size: 12px;
  color: black;
}
/* line 341, ../sass/detailPanel.scss */
#detailPanelMoreInfo .shipping .table-header {
  *zoom: 1;
}
/* line 38, ../../../../../../Users/roycyang/.rvm/gems/ruby-1.9.2-p290@undercurrent/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#detailPanelMoreInfo .shipping .table-header:after {
  content: "";
  display: table;
  clear: both;
}
/* line 344, ../sass/detailPanel.scss */
#detailPanelMoreInfo .shipping .table-header div {
  float: left;
  width: 33.333%;
}
/* line 349, ../sass/detailPanel.scss */
#detailPanelMoreInfo .shipping .table-header span {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  padding: 5px;
  color: #afafaf;
  background: #ededeb;
  border: 1px solid #e8e8e6;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 7, ../../../../../../Users/roycyang/.rvm/gems/ruby-1.9.2-p290@undercurrent/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#detailPanelMoreInfo .shipping .table-header span {
  *display: inline;
}
/* line 363, ../sass/detailPanel.scss */
#detailPanelMoreInfo .shipping .table-content li {
  *zoom: 1;
  margin: 5px 0;
  font-weight: 700;
}
/* line 38, ../../../../../../Users/roycyang/.rvm/gems/ruby-1.9.2-p290@undercurrent/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
#detailPanelMoreInfo .shipping .table-content li:after {
  content: "";
  display: table;
  clear: both;
}
/* line 370, ../sass/detailPanel.scss */
#detailPanelMoreInfo .shipping .table-content div {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  float: left;
  width: 33.333%;
}
/* line 7, ../../../../../../Users/roycyang/.rvm/gems/ruby-1.9.2-p290@undercurrent/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#detailPanelMoreInfo .shipping .table-content div {
  *display: inline;
}
/* line 382, ../sass/detailPanel.scss */
#detailPanelMoreInfo .x-scroll-scroller {
  width: 100%;
}
/* line 386, ../sass/detailPanel.scss */
#detailPanelMoreInfo .text {
  padding: 0 20px 30px 0;
  font-size: 14px;
  color: black;
  line-height: 18px;
  word-break: break-word;
}
>>>>>>> fb8c5a7f6e76fa3f91cbb1418e8c43ab3a747ac2
