/* line 1, ../sass/navPanel.scss */
#navPanel {
  background: #46250a url(../images/slices-v2/LeftNav-top-background-1x.png) no-repeat top left;
}
/* line 4, ../sass/navPanel.scss */
#navPanel #signUpButton {
  height: 90px;
  background: url(../images/login_button.png) no-repeat 0 0;
}
/* line 9, ../sass/navPanel.scss */
#navPanel .user-info {
  padding: 20px 20px;
  font-size: 15px;
  color: white;
  line-height: 56px;
  overflow: hidden;
}
/* line 16, ../sass/navPanel.scss */
#navPanel .user-info img {
  height: 56px;
  margin-right: 15px;
  float: left;
  border: 1px solid #CCC;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
}
