/* ================== */
/* = Treasury Items = */
/* ================== */
/* line 10, ../sass/treasuries.scss */
#treasuriesPanel #treasuriesCarousel .x-innerhtml {
  padding: 24px 0;
}

/* line 20, ../sass/treasuries.scss */
#treasuryPanel #treasuryCarousel .product {
  margin: 20px 11px;
}
/* line 24, ../sass/treasuries.scss */
#treasuryPanel #treasuryCarousel .x-innerhtml div:nth-of-type(17) {
  display: none;
}
/* line 28, ../sass/treasuries.scss */
#treasuryPanel #treasuryCarousel .products .x-innerhtml {
  padding: 24px 0;
}

/* line 35, ../sass/treasuries.scss */
.treasury-item {
  height: 166px;
  display: inline-block;
  position: relative;
  width: 425px;
  margin: 25px;
  padding-left: 270px;
  vertical-align: top;
  color: #3F3F3F;
}
/* line 45, ../sass/treasuries.scss */
.treasury-item.small-treasury-item {
  width: 200px;
  margin: 39px 0 0 37px;
  padding: 0;
}
/* line 50, ../sass/treasuries.scss */
.treasury-item.small-treasury-item .title {
  font-size: 23px;
  font-family: GearedSlabThin;
  margin-bottom: 4px;
  height: 54px;
  overflow: hidden;
  position: absolute;
  top: -30px;
  width: 200px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  left: -2px;
  line-height: 30px;
  margin: 0;
}
/* line 68, ../sass/treasuries.scss */
.treasury-item.small-treasury-item .image-wrapper .image {
  width: 125px;
  height: 100px;
}
/* line 75, ../sass/treasuries.scss */
.treasury-item .open .image-wrapper .image-1 {
  top: 10px;
  left: 0;
}
/* line 80, ../sass/treasuries.scss */
.treasury-item .open .image-wrapper .image-2 {
  left: 16px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 86, ../sass/treasuries.scss */
.treasury-item .open .image-wrapper .image-3 {
  left: 38px;
  top: 11px;
}
/* line 91, ../sass/treasuries.scss */
.treasury-item .open .image-wrapper .image-4 {
  left: 296px;
  -webkit-transform: rotate(4deg);
  top: 14px;
}
/* line 98, ../sass/treasuries.scss */
.treasury-item .image-wrapper {
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: white;
  padding: 3px;
  position: absolute;
}
/* line 105, ../sass/treasuries.scss */
.treasury-item .image-wrapper.image-1 {
  -webkit-transform: rotate(-5deg);
  top: 10px;
  left: 0;
}
/* line 111, ../sass/treasuries.scss */
.treasury-item .image-wrapper.image-2 {
  left: 28px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 117, ../sass/treasuries.scss */
.open .treasury-item .image-wrapper.image-2 {
  left: 81px;
  top: 12px;
  -webkit-transform: rotate(-1deg);
}
/* line 123, ../sass/treasuries.scss */
.treasury-item .image-wrapper.image-3 {
  left: 61px;
  -webkit-transform: rotate(2deg);
  top: 14px;
}
/* line 129, ../sass/treasuries.scss */
.open .treasury-item .image-wrapper.image-3 {
  left: 185px;
  top: 15px;
}
/* line 148, ../sass/treasuries.scss */
.treasury-item .image-wrapper .image {
  width: 170px;
  height: 135px;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-clip: padding-box;
  /* IOS fix */
  background-clip: padding-box;
  /* IOS fix */
}
/* line 164, ../sass/treasuries.scss */
.treasury-item .title {
  font-size: 23px;
  font-family: GearedSlabThin;
  margin-bottom: 4px;
  height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top: 20px;
}
/* line 176, ../sass/treasuries.scss */
.treasury-item .user-avatar {
  width: 35px;
  height: 35px;
  float: left;
  background-size: contain;
  margin-right: 10px;
  background: white;
  padding: 3px;
  border: 1px solid #CCC;
  border-radius: 5px;
}
/* line 188, ../sass/treasuries.scss */
.treasury-item .stats {
  clear: both;
  font-size: 11px;
  padding: 10px 0;
  color: #afafaf;
}
/* line 195, ../sass/treasuries.scss */
.treasury-item .user {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 11px;
  padding: 10px 0;
}
/* line 201, ../sass/treasuries.scss */
.treasury-item .user span {
  color: #afafaf;
}
/* line 207, ../sass/treasuries.scss */
.treasury-item .visit-treasury-button {
  padding: 5px 10px;
  background: #079BBE;
  border: 1px solid #BCB9A6;
  border-radius: 3px;
  color: #EDEDEB;
  font-size: 13px;
  display: inline-block;
}
/* line 219, ../sass/treasuries.scss */
.treasury-item.pressed .title {
  color: #D24700;
}
/* line 223, ../sass/treasuries.scss */
.treasury-item.pressed .visit-treasury-button {
  background: #06667d;
}
